html, body {
    min-height: 100% !important;
    height: 100% !important;
}

button{
    background-color: red;
}

.navbar{
    padding: 5px;
}

.build-environment {
    width: 100%;
    height: 92%;
    display: block;
  }

.dropdown {
    display: inline;
}

.form-check-label{
    color: white;
}

#save_interval{
    color: white;
}
.bttngrp{
    display: inline;
}

 .form-check{
     float: left;
     padding-right: 20px;
 }